@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

a{
  text-decoration: none;
}

#navbar{
  background: #2980b9;
  padding: 1.2rem;
  color: #fff;
}

.container{
  padding: 2rem 10rem;
}